*{
    margin:0;
    font-family: 'Titillium Web' , sans-serif;


}

body{
    background:#042159;
    color: #77D9AB;

}

.title{
    width: 500px;
    color:#0869A6;
    margin: 3% auto;
}

.content{
    width: 580px;
    margin: 0 auto;
    background-color:#0869A6;
    padding: 3%;
    padding-left: 6%;

}